<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="utf-8">
<title>Girish</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="menu :: menu"></div>
<div class="container">
<h1>Kitabxana saytimiza Xosh gelmisiniz</h1>
<a class="btn btn-primary" th:href="@{/books}">Kitablarin siyahisi</a>
<a class="btn btn-warning" th:href="@{/students}">Telebelerin siyahisi</a>
<a class="btn btn-danger" th:href="@{/logout}">Cixish</a>
</div>
  
</body>
</html>